build/*
.vscode/
*.DS_Store
CMakeLists.txt

pymeshlab/Esperimento_1/data/altro/bunny_1k_final.obj
pymeshlab/Esperimento_1/data/altro/bunny_1k_subdiv_1_final.obj
pymeshlab/Esperimento_1/data/altro/bunny_1k_subdiv_2_final.obj
pymeshlab/Esperimento_1/data/altro/bunny_1k_subdiv_3_final.obj
pymeshlab/Esperimento_1/data/blub/blub_tri.obj
pymeshlab/Esperimento_1/data/blub/blub_tri_final.obj
pymeshlab/Esperimento_1/data/blub/blub_tri_subdiv_1_final.obj
pymeshlab/Esperimento_1/data/blub/blub_tri_subdiv_2_final.obj
pymeshlab/Esperimento_1/data/blub/blub_tri_subdiv_3_final.obj
pymeshlab/Esperimento_1/data/blub/blub_tri_subdiv_4_final.obj
pymeshlab/Esperimento_1/data/blub/blub_tri_subdiv_5_final.obj
pymeshlab/Esperimento_1/data/bob/bob_tri.obj
pymeshlab/Esperimento_1/data/bob/bob_tri_final.obj
pymeshlab/Esperimento_1/data/bob/bob_tri_subdiv_1_final.obj
pymeshlab/Esperimento_1/data/bob/bob_tri_subdiv_2_final.obj
pymeshlab/Esperimento_1/data/bob/bob_tri_subdiv_3_final.obj
pymeshlab/Esperimento_1/data/bob/bob_tri_subdiv_4_final.obj
pymeshlab/Esperimento_1/data/bob/bob_tri_subdiv_5_final.obj
pymeshlab/Esperimento_1/data/spot/spot_tri.obj
pymeshlab/Esperimento_1/data/spot/spot_tri_final.obj
pymeshlab/Esperimento_1/data/spot/spot_tri_subdiv_1_final.obj
pymeshlab/Esperimento_1/data/spot/spot_tri_subdiv_2_final.obj
pymeshlab/Esperimento_1/data/spot/spot_tri_subdiv_3_final.obj
pymeshlab/Esperimento_1/data/spot/spot_tri_subdiv_4_final.obj
pymeshlab/Esperimento_1/data/spot/spot_tri_subdiv_5_final.obj
pymeshlab/Esperimento_1/data/spot/spot_tri_subdiv_6_final.obj
